

$primary-color-hover: #800fa9;
$header-btn-color: #800fa9;

// 主色
$primary-color: #800fa9;

// 边框 拉杆色
$ball-color: #ffd0b8;

// 副色
$deputy-color: #ffd0b8;

// 三级色
$child-color: #ffe9dd;

// 按钮色
$button-color: #ffd0b8;

// 字体色
$font-color: #f69243;

